* { overflow-wrap: break-word; }
pre { white-space: pre-wrap; }

img[nemo-inline-image-loading=no] {
    margin-right: 6px;
    margin-bottom: 4px;
}

img[nemo-inline-image-loading=yes] {
    margin-right: 6px;
    margin-bottom: 4px;
    max-width: 30px;
    max-height: 30px;
    content: url('file:///usr/share/jolla-email/images/spinner.gif');
}



/*--------------------------------------------------------------------------------------------------------------------------*/

/* Browser Background */
browser[type="content-primary"]
{
  background-color: transparent !important;
}

/*No background images. try to exclude icons, other misc items. */

  
*:not(:empty):not([onclick*="open"]):not(span):not([class*="stars"]):not([id*="stars"]):not([id="rating"]):not([class="rating"]):not([class*="prite"]):not([id*="prite"]):not([id*="lbImage"])
  {
    background-image: none !important;
  }

/* Basic Bodies */
  html,
body
  {
    background: none transparent !important;
  }

/* Make descendents of the body element transparent.  Formerly "DIV + SPAN" rules. */
  body *
  {
    background-color: transparent !important;
  }

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* Universal - sets color of text, border */

* {
color: Theme.primaryColor !important; 
border-color: Theme.secondaryColor !important;
outline-color: Theme.secondaryColor !important;
text-shadow: none !important;
}

html *:after,
html *:before {
color: Theme.primaryColor !important;
border-color: Theme.secondaryColor !important;
background: none transparent !important;
}


/* Link */

a:link,
a:link *:not(img){ 

color: Theme.highlightColor !important;
background-color: transparent !important;
border-color: Theme.highlightColor !important;}

a:visited, 
a:visited * {
color: Theme.secondaryHighlightColor !important;
}

a:hover,
a:hover *:not(img){

color: Theme.secondaryHighlightColor !important; 
background-color: transparent !important;
border-color: Theme.secondaryHighlightColor !important;
}

html [href*="#"]:hover {
color: Theme.secondaryHighlightColor !important;
background-color: transparent !important;
}


/* Event Handlers/Attributes */

[onclick],
[ondblclick],
[onmousedown] {
color: #DFD5BC !important;
text-indent: 0 !important;
}

[onclick]:hover,
[ondblclick]:hover,
[onmousedown]:hover {
color: Theme.secondaryHighlightColor !important;
}


/* Make images transparent 

img {
opacity: .75 !important;
}

img:hover {
opacity: 1 !important;
background-color: transparent !important;
}

svg {
background: none #666 !important;
}
*/
/* Highlight */
::-moz-selection {
background-color: transparent !important;
color: Theme.highlightBackgroundColor !important;
}


